<h1>Prayer Walking 101</h1>
<p class="col-md-4">Thank you for taking the time to visit this site. We currently have a church goal of 25,000 miles walked in 120 days. Pastor Jeff Wheeland has given the church this challenge. Feel free to invite others that are willing to honestly prayer walk.</p>
